@import "tailwindcss";

@theme {
  --color-VividPurple: #635fc7;
  --color-SoftLavender: #a8a4ff;
  --color-DeepMidnight: #000112;
  --color-CharcoalGray: #20212c;
  --color-Gunmetal: #2b2c37;
  --color-SteelSlate: #3e3f4e;
  --color-CoolGray: #828fa3;
  --color-PaleIce: #e4ebfa;
  --color-SnowMist: #f4f7fd;
  --color-White: #ffffff;
  --color-StrongRed: #ea5555;
  --color-SoftCoral: #ff9898;
  --font-jakarta: "Plus-Jakarta-Sans", sans-serif;
}

@layer base {
  body {
    @apply font-jakarta;
  }
}

@layer components {
  .heading-xl {
    @apply font-bold text-2xl leading-[30px];
  }
  .heading-l {
    @apply font-bold text-[18px] leading-[23px];
  }
  .heading-m {
    @apply font-bold text-[15px] leading-[19px];
  }
  .heading-s {
    @apply font-bold text-[12px] leading-[15px] tracking-[2.4px];
  }
}
