@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-MainPurple: #635fc7; /* isim düzeltildi */
  --color-HoverMainPurple: #a8a4ff; /* isim düzeltildi */
  --color-DeepMidnight: #000112;
  --color-VeryDarkGrey: #20212c; /* isim düzeltildi */
  --color-DarkGrey: #2b2c37; /* isim düzeltildi */
  --color-LinesDark: #3e3f4e; /* isim düzeltildi */
  --color-MediumGrey: #828fa3; /* isim düzeltildi */
  --color-Lines: #e4ebfa; /* isim düzeltildi */
  --color-LightGreyBG: #f4f7fd; /* isim düzeltildi */
  --color-White: #ffffff; /* isim düzeltildi */
  --color-Red: #ea5555; /* isim düzeltildi */
  --color-HoverRed: #ff9898; /* isim düzeltildi */
  --font-jakarta: "Plus-Jakarta-Sans", sans-serif;
}

@layer base {
  body {
    @apply font-jakarta flex flex-col;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .heading-xl {
    @apply font-bold text-2xl leading-[30px];
  }
  .heading-l {
    @apply font-bold text-[18px] leading-[23px];
  }
  .heading-m {
    @apply font-bold text-[15px] leading-[19px];
  }
  .heading-s {
    @apply font-bold text-[12px] leading-[15px] tracking-[2.4px];
  }
  .body-l {
    @apply font-medium text-[13px] leading-[23px];
  }

  .shadow-custom-light {
    box-shadow: 0px 2px 5px 0px rgba(43, 44, 55, 0.5);
  }
  .dark .shadow-custom-dark {
    box-shadow: 0px 2px 15px 5px rgba(255, 255, 255, 1);
  }
}
