@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-MainPurple: #635fc7; /* isim düzeltildi */
  --color-HoverMainPurple: #a8a4ff; /* isim düzeltildi */
  --color-DeepMidnight: #000112;
  --color-VeryDarkGrey: #20212c; /* isim düzeltildi */
  --color-DarkGrey: #2b2c37; /* isim düzeltildi */
  --color-LinesDark: #3e3f4e; /* isim düzeltildi */
  --color-MediumGrey: #828fa3; /* isim düzeltildi */
  --color-Lines: #e4ebfa; /* isim düzeltildi */
  --color-LightGreyBG: #f4f7fd; /* isim düzeltildi */
  --color-White: #ffffff;
  --color-StrongRed: #ea5555;
  --color-SoftCoral: #ff9898;
  --font-jakarta: "Plus-Jakarta-Sans", sans-serif;
}

@layer base {
  body {
    @apply font-jakarta flex min-h-screen;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .heading-xl {
    @apply font-bold text-2xl leading-[30px];
  }
  .heading-l {
    @apply font-bold text-[18px] leading-[23px];
  }
  .heading-m {
    @apply font-bold text-[15px] leading-[19px];
  }
  .heading-s {
    @apply font-bold text-[12px] leading-[15px] tracking-[2.4px];
  }
}
